<head>

    <nav>
        <a href="/">Libreria</a>
        <ul>
            <li><a href="/authors">Autores</a></li>
            <li><a href="/authors/new">Añadir nuevo autor</a></li>
        </ul>
    </nav>

</head>