<h1>Añade un nuevo autor</h1>

<form action="/authors" method="POST">
    <div>
        <%- include('form_field') %>
    </div>

    <button type="submit">Agregar</button>
    <a href="/authors">Cancel</a>
</form>